<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>


<div class="header">
    <img th:src="@{/img/logo.png}" alt="Logo de la Empresa">
    <div>
        <button class="registro-btn">Registrarse</button>
    </div>
</div>
<div class="contenido">
    <div class="texto">
        <h2>Título del primer div</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus, magna id varius vehicula, velit justo
            efficitur sapien, nec pellentesque leo metus nec quam.</p>
    </div>
    <div class="separador"></div>
    <div class="texto">
        <h2>Título del segundo div</h2>
        <p>Ut aliquet erat nec dolor consequat, quis interdum turpis dictum. Vivamus sit amet nisl non justo lacinia
            vestibulum eu in massa.</p>
    </div>
    <div class="separador"></div>
    <div class="texto">
        <h2>Título del tercer div</h2>
        <p>Maecenas lobortis justo vitae felis varius, id scelerisque arcu tincidunt. Integer vel feugiat libero, at
            consectetur quam. </p>
    </div>
</div>
</body>

</html>