<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<div class="header">
    <img th:src="@{/img/logo.png}" alt="Logo de la Empresa">
    <div>
        <button th:if="${user==null}" onclick="window.location.href='login.html'" class="btn">Iniciar sesión</button>
        <a href="/user">
            <button th:if="${user!=null}" class="btn">Mi perfil</button>
        </a>
        <a href="/logout">
            <button th:if="${user!=null}" class="btn exit">Exit</button>
        </a>
    </div>
</div>

<div class="contenido">
    <div class="texto" th:each="twit : ${twits}">
        <div class="foto-perfil">
            <!-- Verifica si el campo 'img' del usuario no está vacío -->
            <img th:if="${not #strings.isEmpty(twit.getUser().getUserimg())}"
                 th:src="${'user/image/'+twit.getUser().getUserimg()}" alt="Foto de perfil"/>
            <!-- Si el campo 'img' está vacío, muestra una imagen por defecto -->
            <img th:unless="${not #strings.isEmpty(twit.getUser().getUserimg())}" src="/img/noimg.png"
                 alt="Foto de perfil vacio"/>
        </div>
        <div class="texto-contenido">
            <h2 th:text="${twit.getUser().getUsername()}"></h2>
            <p th:text="${twit.getTwitext()}"></p>
        </div>
    </div>
</div>
</body>

</html>