<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script th:src="@{/js/register.js}"></script>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="container">
    <a href="/">
        <img th:src="@{/img/logo.png}" alt="Logo de la Empresa" class="logo">
    </a>
    <h1>New User</h1>
    <form th:action="@{/register}" method="post" id="formregister">
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password" id="pass" placeholder="Password">
        <input type="password" name="" id="repass" placeholder="Password Again">
        <input type="submit" value="New User">
    </form>
</div>
</body>
</html>