<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="header">
        <a href="/">
            <img th:src="@{/img/logo.png}" alt="Logo de la Empresa">
        </a>
        <div>
            <button class="exit-btn">Exit</button>
        </div>
    </div>
    <div class="contenido">
        <div class="main">
            <div class="foto-perfil">
                <img src="/img/patata.jpg" alt="Foto de perfil">
            </div>
            <div class="newtwit">
                <form th:action="@{/publicar}" method="post">
                    <textarea name="twit" placeholder="Escribe aquí tu texto..."></textarea>
                    <input type="submit" value="Publicar" class="publicar-btn">
                </form>
            </div>
        </div>

        <div class="separador"></div>

        <div class="texto" th:each="twit : ${twits}">
            <div class="foto-perfil">
                <!-- Aquí puedes colocar tu imagen de perfil -->
                <img src="/img/patata.jpg" alt="Foto de perfil">
            </div>
            <div class="texto-contenido">
                <h2 th:text="${twit.getUser_id()}"></h2>
                <p th:text="${twit.getTwitext()}"></p>
            </div>
        </div>
    </div>
</body>
</html>